@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lobster&display=swap');

:root {
    --header-height: 96px;
    --footer-height: 90px;
    --rtm-negro: #080707;
    --rtm-blanco: #faf2f2;
    --rtm-verde: #04c970;
    --rtm-indigo: #190770;
    --rtm-rojo: #E80707;
}
body {
    overflow: hidden;
}
.ff-breeSerif,
.ff-breeSerif * {
    font-family: 'Bree Serif';
}
.ff-lobster,
.ff-lobster * {
    font-family: 'Lobster';
}
header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: var(--header-height);
    background-color: #fff;
    background-image: url('../img/mazon.svg');
    background-repeat: repeat;
    background-size: 64px;
    height: 120px;
}
span.logo {
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: 'Lobster';
    font-size: 30pt;
    font-weight: 600;
    top: 70%;
    color: var(--rtm-indigo);
    text-shadow:
        2px 2px 0px #f0f0f0,
        2px -2px 0px #f0f0f0,
        -2px -2px 0px #f0f0f0,
        -2px 2px 0px #f0f0f0;
}
.content {
    padding: 0.5em;
    height: calc(100vh - var(--header-height));
    z-index: 2;
}
#barra {
    width: 100vw;
    position: absolute;
    bottom: 46%;
    overflow: hidden;
    object-fit: contain;
    z-index: -1;
}
#barra img.img-foreground, #barra img.img-blur {
    position: fixed;
    /* top: 0; */
    width: 100%;
    height: auto;
}
#barra img.img-foreground { opacity: 50% }
#barra img.img-blur {  z-index: -2; filter: blur(2px); }
.plan-cards {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    padding: 1em 0em;
}
footer {
    min-height: var(--footer-height);
    position: fixed;
    width: 100vw;
    bottom: 0;
    background: #ffffff33;
}
/* .stools {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    bottom: -200px;
} */